* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(201, 201, 201);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

h1 {
  margin-bottom: 50px;
}

p {
  font-size: 40px;
  font-weight: bold;
  color: red;
}

button {
  font-weight: bold;
  color: red;
  border: 1px solid red;
  padding: 15px;
  border-radius: 10px;
  margin-top: 50px;
}

button:hover {
  box-shadow: 1px 1px 20px red;
}